@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'JetBrains ExtrBold';
    src: url('Assets/Fonts/JetBrains/JetBrainsMono-ExtraBold.ttf');
}

@font-face {
    font-family: 'SF UI Black';
    src: url('Assets/Fonts/SF\ UI/SF-UI-Black.otf');
}

@font-face {
    font-family: 'SF UI Medium';
    src: url('Assets/Fonts/SF\ UI/SF-UI-Medium.otf');
}

.logo {
    font-family: 'JetBrains ExtrBold';
    font-size: 1.3rem;
}

body {
    -webkit-tap-highlight-color: transparent;
    background-color: #f3f3f5;
    font-family: 'SF UI Medium';
}

.heroh1 {
    font-family: 'SF UI Black';
}

.chart {
    background-image: url('https://emoji.aranja.com/static/emoji-data/img-apple-160/1f4ca.png');
    background-size: 100%;
}

.paint {
    background-image: url('https://emoji.aranja.com/static/emoji-data/img-apple-160/1f3a8.png');
    background-size: 100%;
}

.rocket {
    background-image: url('https://emoji.aranja.com/static/emoji-data/img-apple-160/1f680.png');
    background-size: 100%;
}

.mask {
    -webkit-mask-image: linear-gradient( white 50%, white 50%);
    mask-image: linear-gradient(to bottom, transparent, white 50%, white 50%, transparent);
}